
@{
    ViewBag.Title = "Sub Category";
}

@Html.Partial("navbar")


<h2>Sub Category Admin Operations</h2>

<a class="btn btn-success" style="margin-bottom:10px;" onclick="PopupForm('@Url.Action("AddOrEdit","Subcategory")')"><i class="far fa-plus-square" style="margin-right:5px;color:green"></i>Add New</a>

<table id="locationTable" class="table table-striped table-bordered" style="width:100%;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Sub Category</th>
            <th></th>
        </tr>
    </thead>
</table>


@*<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"/>*@
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $('#locationTable').DataTable({
                "ajax": {
                    "url": "/Subcategory/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id" },
                    { "data": "subcategoryname" },
                    {
                        "data": "id", "render": function (data) {
                            return "<a class='btn btn-default btn-sm' onClick=PopupForm('@Url.Action("AddOrEdit", "Subcategory")/" + data +"')><i class='far fa- edit'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px;' onClick=Delete("+ data +")><i class='fas fa- trash - alt'></i> Delete</a>";
                        },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }
                ],
                "language": {
                    "emptyTable":"No data found, Please click on <b>Add New</b> Button"
                }

            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Fill Sub Category Details',
                        height: 500,
                        width: 700,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {

                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className:"success"
                            })
                        }

                    }
                });
            }
            return false;
        }


        function Delete(id) {
            if (confirm('Are you sure to delete the record?')) {
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("Delete", "Subcategory")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
        }

    </script>



}
