


@{
    ViewBag.Title = "Ad Details";
}


@Html.Partial("navbar")


<h2>Vip Ad Details Admin Operations</h2>



<table id="locationTable" class="table table-striped table-bordered" style="width:100%;">
    <thead>
        <tr>
            <th>Id</th>
            <th>EndDate</th>
            <th>Status</th>
            <th>Title</th>
            <th>AddPlaced</th>
            <th>Price</th>
            <th>Contact1</th>
            <th>Contact2</th>
            <th>Location</th>
            <th>MainCategory</th>
            <th>SubCategory</th>
            <th>Brand</th>
            <th>ModelYear</th>
            <th>Model</th>
            <th>EngineCapacity</th>
            <th>Mileage</th>
            <th>Condition</th>
            <th>Negotiable</th>
            <th>UserID</th>

            <th></th>
        </tr>
    </thead>
</table>


@*<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"/>*@
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $('#locationTable').DataTable({
                "ajax": {
                    "url": "/Vipaddetails/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "EndDate" },
                    { "data": "Status" },
                    { "data": "Title" },
                    { "data": "AddPlaced" },
                    { "data": "Price" },
                    { "data": "Location" },
                    { "data": "Contact1" },
                    { "data": "Contact2" },
                    { "data": "MainCategory" },
                    { "data": "SubCategory" },
                    { "data": "Brand" },
                    { "data": "ModelYear" },
                    { "data": "Model" },
                    { "data": "EngineCapacity" },
                    { "data": "Mileage" },
                    { "data": "Condition" },
                    { "data": "Negotiable" },
                    { "data": "UserID" },

                    {
                        "data": "Id", "render": function (data) {
                            return "<a class='btn btn-default btn-sm' onClick=PopupForm('@Url.Action("AddOrEdit", "Vipaddetails")/" + data +"')><i class='far fa- edit'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px;' onClick=Delete("+ data +")><i class='fas fa- trash - alt'></i> Delete</a>";
                        },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }
                ],
                "language": {
                    "emptyTable":"No data found"
                }

            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Fill Vip Ad Details',
                        height: 500,
                        width: 700,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
        }

        function SubmitForm(form) {
            
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {

                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className:"success"
                            })
                        }

                    }
            });
                return false;
        }


        function Delete(id) {
            if (confirm('Are you sure to delete the record?')) {
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("Delete", "Vipaddetails")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
        }

    </script>



}

